.div{
    padding: 5px;
    margin: 2px;
    border: 5px solid lightgray;
    background-color:yellow
}
.divcell{
    display: inline-block;
    width: 40%;
    border: 1px solid lightgray;
    background-color: black;
    color: white;
    text-align: center;

}
.divcell1{
    display: inline-block;
    width: 40%;
    border: 1px solid lightgray;
    background-color: lightgreen;
    color: white;
    text-align: center;

}
.divcell2{
    display: inline-block;
    width: 40%;
    border: 1px solid lightgray;
  
    background-color: lightpink;
    color: white;
    text-align: center;

}