.button1{
    background-color:#6666AA;
    color: white;
    text-align: center;
}
.Angular1{
    background-color:#6666AA;
    color: white;
    text-align: center;
}
.React1{
    background-color: #6666AA;
    color: white;
    text-align: center;
}
.Javascript1{
    background-color: #6666AA;
    color: white;
    text-align: center;
}

.button2{
    background-color:#BBBBBB;
    color: white;
    text-align: center;
}
.React{
    background-color:#BBBB00;
   
    color: white;
    text-align: center;
}

.Angular{
    background-color:#00BBBB;
   
    color: white;
    text-align: center;
}

.Javascript{
    background-color:#0000BB;
   
    color: white;
    text-align: right;
}


