.button1{
    background-color:#CC0000;
    color: white;
    text-align: center;
}
.text{
    background-color: #0000AA;
    color: white;
    text-align: center;
}
.text{

        background-color: #0000AA;
        color: white;
        text-align: center;
    }
    .text{

        background-color: #0000AA;
        color: white;
        text-align: center;
    }