.cell35{
    display: inline-block;
    width: 28%;
    text-align: center;
    background-color:#446688;
    color: white;
    margin: 1px;
}
.cell13{
    display: inline-block;
    width: 13%;
    text-align: center;
    background-color: #446688;
    color: white;
    margin: 1px;
}
.cell{
    display: inline-block;
    width: 5%;
    text-align: center;
    background-color: black;
    color: white;
    margin: 1px;
}



